@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Libre Baskerville", serif;
}

header section{
    display: flex;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;

}

#menuBurger{
    display: none;
    color: rgb(4, 30, 58);
    margin-left: 2vw;
    cursor: pointer;
}

.mobile-menu{
   position: fixed;
   left: -200px;
   top: 0;
   width: 200px;
   height: 30%;
   background-color: rgb(4, 30, 58);
   z-index: 2;
   transition: all 0.5s ease;
}

.mobile-menu.ativo{
    left: 0;
}

.mobile-menu ul{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 50px 30px;
}

.mobile-menu ul li a{
    color: #fff;
}

.mobile-menu ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #fff;
}

.mobile-menu p{
    color: #fff;
    font-size: 12px;
    margin: 20px 10px;
    cursor: pointer;
}

.menuBurger{
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 3;
    transition: all 0.5s ease;
}

.menuBurger.ativo{
    left: 220px;
}

.nav-bar .menu{
    display: flex;
    align-items: center;
    width: 100%;
}
.nav-bar li{
    display: inline-block;
    margin-right: 1.5rem;
}

.nav-titulo{
    margin: 0px 3vw 0px 2vw;
    font-weight: bold ;
    font-size: 1.5rem;
    color: rgb(4, 30, 58);
    font-family:"Libre Baskerville", serif;
}

.nav-bar, #carrinho{
    margin-left: auto;
}

.nav-bar a{
    text-decoration: none;
    color: rgb(4, 30, 58);
    font-family: "Libre Baskerville", serif;
    font-size: 0.8rem;;
}
.nav-bar a:hover{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: rgb(4, 30, 58);
}

#carrinho{
    color: rgb(4, 30, 58);
}
.nav-titulo, #carrinho:hover{
    cursor: pointer;
    color: rgba(4, 30, 58, 0.934);
}

.title-slogan, .subtitle-slogan{
    text-align: center;
    margin: 3vh 0px 3vh 0px;
    color: rgb(4, 30, 58);
}

.button-subtitle a{
    text-decoration: none;
    color: white;
}

.img-principal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-imagens{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

h4{
    text-align: center;
    font-size: 1.2rem;
    margin: 10vh 0px 10vh 0px;
    color: rgb(4, 30, 58);
}

.subtitle-look{
    font-size: 0.8rem;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 40vw;
    height: 40vh;
}

.input-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input{
    width: 50%;
    border: none;
    border-bottom: 1px solid rgb(4, 30, 58);
    margin: 0.6rem 0;
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
}

.input-box label{
    font-size: 0.85rem;
    font-weight: 500;
    color: rgb(4, 30, 58);
}

.button-form button{
    width: 80%;
    background-color: rgb(4, 30, 58);
    color: #fff;
    margin-top: 1.5rem;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem
}

.button-subtitle{
    width: 100px;
    background-color: rgb(4, 30, 58);
    color: #fff;
    margin-top: 0.5rem;
    padding: 0.4rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-produtos{
    width: 100%;
    height: 100%;
    display: flex;
}

.roupas{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 100px ;
}

.roupa02{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.roupa02 img{
    cursor: pointer;
}

.content-info{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: -10rem;
}

.info-roupa{
    color: rgb(4, 30, 58);
    margin-bottom: 2rem;
}

.info{
    color: rgb(4, 30, 58);
    font-weight: 700;
    font-size: 0.8rem;
}

.contador, .mais, .menos{
    border: none;
    background-color:#fff;
    padding: 5px;
    margin-right: 10px;
    font-size: 15px;
    cursor: pointer;
}

.menos:hover{
    background-color: rgb(4, 30, 58);
    color: #fff;
}

.mais:hover{
    background-color: rgb(4, 30, 58);
    color: #fff;
}

.adicionar{
    padding: 5px;
    background-color: rgb(4, 30, 58);
    color: #fff;
    border: none;
    cursor: pointer;
}

.adicionar:hover{
    background-color: rgba(4, 30, 58, 0.934);
}

.tamanhos{
    display: flex;
    justify-content: space-between;   
    margin-bottom: 1rem;
}

.tamanhos button{
    padding: 5px;
    background-color: #fff;
    color: rgb(4, 30, 58);
    border: none;
    cursor: pointer;
}

.tamanhos button:hover{
    background-color: rgb(4, 30, 58);
    color: #fff;
}

.sobre{
    width: 80%;
    margin: 5rem auto;
}
.sobre h3, .sobre p{
    color: rgb(4, 30, 58);
    margin-bottom: 2rem;
}

@media(max-width: 800px){
    #itens, .nav-titulo{
        display: none;
    }

    #menuBurger{
        display: block;
    }

    .mobile-menu .nav-item{
        display: block;
    }

    .img-prin{
        width: 400px;
        height: 300px;
    }

    .content-info{
        margin-left: 50px;
    }
}
